.normal {
  text-align: left
}
.logo {
  display: block;
  width: 39px;;
  height: 39px;
  margin: 12px 24px 12px 0;
  float: left;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Ctitle%3EMiddel 3%3C/title%3E%3Cpath d='M41,45a3.99811,3.99811,0,1,0,4-4A3.97781,3.97781,0,0,0,41,45Z' fill='none'/%3E%3Cpath d='M75.59106,50h5.05542A36.274,36.274,0,0,0,81,45H76A31.06757,31.06757,0,0,1,75.59106,50Z' fill='%23e85300'/%3E%3Cpath d='M71.53033,50A27.11987,27.11987,0,0,0,72,45H67a21.96858,21.96858,0,0,1-.58008,5Z' fill='%23e85300'/%3E%3Cpath d='M62.28143,50A17.97476,17.97476,0,0,0,63,45H58a12.92469,12.92469,0,0,1-1.00287,5Z' fill='%23e85300'/%3E%3Cpath d='M36,45a9.11373,9.11373,0,0,0,.04645.92023,8.94092,8.94092,0,0,0,1.03979,3.36969q.20783.38259.45081.74206A9.00125,9.00125,0,1,0,36,45Zm13,0a4.00457,4.00457,0,1,1-1.17291-2.82709A4.0045,4.0045,0,0,1,49,45Z' fill='%23e85300'/%3E%3Cpath d='M85.5,45H85A40.01324,40.01324,0,0,1,7.43115,58.7392a39.74089,39.74089,0,0,1-2.379-11.6839Q5.00022,46.03412,5,45A39.98133,39.98133,0,0,1,73.27106,16.72894l3.54876-3.54876A45,45,0,0,0,0,45a45.52887,45.52887,0,0,0,.2323,4.601A45.00186,45.00186,0,0,0,90,45Z' fill='%23e85300'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}